openapi: 3.0.1
info:
  title: Boarding API
  description: |
    # Introduction
    TODO.
  contact:
    name: Support Team
    url: https://worldnettps.com/contact/
    email: support@worldnettps.com
  version: v2
  x-logo:
    url: worldnet-logo.png
    backgroundColor: '#FFFFFF'
    altText: Worldnet
servers:
- url: https://devpayments.worldnettps.com/merchant
  description: Sandbox Server
tags:
- name: tokens
  description: TODO
  x-displayName: Access Tokens
- name: partners
  description: TODO
  x-displayName: Partners
- name: merchantPortfolios
  description: TODO
  x-displayName: Merchant Portfolios
- name: merchants
  description: TODO
  x-displayName: Merchants
- name: users
  description: TODO
  x-displayName: Users
- name: terminals
  description: TODO
  x-displayName: Terminals
- name: templates
  description: TODO
  x-displayName: Templates
paths:
  /api/v2/boarding/authenticate:
    get:
      tags:
      - tokens
      summary: Authenticate
      description: Use this operation to exchange your `API Key` for a `JWT Token`
        that will give you access to the API.
      operationId: authenticate
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: Basic <API Key>
      responses:
        200:
          description: JWT Access Token has been issued successfully
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        401:
          description: Authentication failed, the API Key has either been revoked
            or not found
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: Authorization failed, the requester's host is not allowed to
            use the API Key
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/boarding/merchants/{merchantId}:
    get:
      tags:
      - merchants
      summary: Get Merchant
      operationId: getMerchant
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchants:full-access
        - merchants:read-only
    put:
      tags:
      - merchants
      summary: Update Merchant
      operationId: updateMerchant
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Merchant'
        required: true
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchants:full-access
  /api/v2/boarding/merchants/{merchantId}/users:
    get:
      tags:
      - users
      summary: List Users
      operationId: listUsers
      parameters:
      - name: active
        in: query
        schema:
          type: boolean
          default: true
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserPaginatedResult'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
        - users:read-only
    post:
      tags:
      - users
      summary: Create User
      operationId: createUser
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
  /api/v2/boarding/merchants/{merchantId}/users/{userId}:
    get:
      tags:
      - users
      summary: Get User
      operationId: getUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
        - users:read-only
    put:
      tags:
      - users
      summary: Update User
      operationId: updateUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
  /api/v2/boarding/merchants/{merchantId}/users/{userId}/activate:
    patch:
      tags:
      - users
      summary: Activate User
      operationId: activateUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
  /api/v2/boarding/merchants/{merchantId}/users/{userId}/deactivate:
    patch:
      tags:
      - users
      summary: Deactivate User
      operationId: deactivateUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
  /api/v2/boarding/merchants/{merchantId}/users/{userId}/lock:
    patch:
      tags:
      - users
      summary: Lock User
      operationId: lockUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
  /api/v2/boarding/merchants/{merchantId}/users/{userId}/unlock:
    patch:
      tags:
      - users
      summary: Unlock User
      operationId: unlockUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - users:full-access
  /api/v2/boarding/merchants:
    get:
      tags:
      - merchants
      summary: List Merchants
      operationId: listMerchants
      parameters:
      - name: active
        in: query
        schema:
          type: boolean
          default: true
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPaginatedResult'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchants:full-access
        - merchants:read-only
    post:
      tags:
      - merchants
      summary: Create Merchant
      operationId: createMerchant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Merchant'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchants:full-access
  /api/v2/boarding/merchants/{merchantId}/deactivate:
    patch:
      tags:
      - merchants
      summary: Deactivate Merchant
      operationId: deactivateMerchant
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchants:full-access
  /api/v2/boarding/merchants/{merchantId}/activate:
    patch:
      tags:
      - merchants
      summary: Activate Merchant
      operationId: activateMerchant
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchants:full-access
  /api/v2/boarding/merchants/{merchantId}/terminals/{terminalNumber}:
    get:
      tags:
      - terminals
      summary: Get Terminal
      operationId: getTerminal
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: terminalNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Terminal'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - terminals:full-access
        - terminals:read-only
    put:
      tags:
      - terminals
      summary: Update Terminal
      operationId: updateTerminal
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: terminalNumber
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Terminal'
        required: true
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Terminal'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - terminals:full-access
  /api/v2/boarding/merchants/{merchantId}/terminals:
    get:
      tags:
      - terminals
      summary: List Terminals
      operationId: listTerminals
      parameters:
      - name: active
        in: query
        schema:
          type: boolean
          default: true
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TerminalPaginatedResult'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - terminals:full-access
        - terminals:read-only
    post:
      tags:
      - terminals
      summary: Create Terminal
      operationId: createTerminal
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Terminal'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Terminal'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - terminals:full-access
  /api/v2/boarding/merchants/{merchantId}/terminals/{terminalNumber}/activate:
    patch:
      tags:
      - terminals
      summary: Activate Terminal
      operationId: activateTerminal
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: terminalNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Terminal'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - terminals:full-access
  /api/v2/boarding/merchants/{merchantId}/terminals/{terminalNumber}/deactivate:
    patch:
      tags:
      - terminals
      summary: Deactivate Terminal
      operationId: deactivateTerminal
      parameters:
      - name: merchantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: terminalNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Terminal'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - terminals:full-access
  /api/v2/boarding/merchantPortfolios/{merchantPortfolioId}:
    get:
      tags:
      - merchantPortfolios
      summary: Get Merchant Portfolio
      operationId: getMerchantPortfolio
      parameters:
      - name: merchantPortfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPortfolio'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchant-portfolios:full-access
        - merchant-portfolios:read-only
    put:
      tags:
      - merchantPortfolios
      summary: Update Merchant Portfolio
      operationId: updateMerchantPortfolio
      parameters:
      - name: merchantPortfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantPortfolio'
        required: true
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPortfolio'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchant-portfolios:full-access
  /api/v2/boarding/merchantPortfolios:
    get:
      tags:
      - merchantPortfolios
      summary: List Merchant Portfolios
      operationId: listMerchantPortfolios
      parameters:
      - name: active
        in: query
        schema:
          type: boolean
          default: true
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPortfolioPaginatedResult'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchant-portfolios:full-access
        - merchant-portfolios:read-only
    post:
      tags:
      - merchantPortfolios
      summary: Create Merchant Portfolio
      operationId: createMerchantPortfolio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantPortfolio'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPortfolio'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        403:
          description: 'Forbidden : Indicates that the server refuses to authorize
            the request because it lacks the required permissions.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: 'Not Found : Indicates that the server cannot find the requested
            resource.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Unprocessable Entity : Indicates that the request is syntactically
            correct but semantically incorrect.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: 'Internal Server Error : Server encountered an unexpected condition
            that prevented it from fulfilling the request.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - Bearer:
        - merchant-portfolios:full-access
  /api/v2/boarding/merchantPortfolios/{merchantPortfolioId}/activate:
    patch:
      tags:
      - merchantPortfolios
      summary: Activate Merchant Portfolio
      operationId: activateMerchantPortfolio
      parameters:
      - name: merchantPortfolioId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: OK
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPortfolio'
        400:
          description: 'Bad Request : Indicates that the server cannot or will not
            process the request due to a malformed request syntax.'
          headers:
            X-Request-Id:
              description: Unique identifier assigned by Worldnet for each request.
              style: simple
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: 'Unauthorized : Indicates that the request has not been applied
            because it lacks valid authentication credentials.'
          headers:
            X-Request-Id:
[...]
